.isShoppingCartContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 0vw;
  height: 0vh;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.isShoppingCartVisible {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1080;
}
.isShoppingCartBox {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  max-width: 420px;
  height: fit-content;
  min-height: 100vh;
  background-color: var(--white);
  transform: translateX(120%);
}
.isShoppingCartAside {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  align-items: baseline;
  gap: 1em;
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}
.isAsideTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.isTitleIcon {
  margin-right: 0.8rem;
}
.isAsideText {
  font-size: var(--font-size-md);
  line-height: 22px;
  color: var(--black);
}
.isAsideContent {
  display: grid;
  gap: 1em;
  margin: 1rem 0;
}
.isAsideResume {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 18px 16px;
  background-color: var(--text-input-field);
  border-radius: 10px;
}
.isResumeInfo {
  display: flex;
  flex-direction: column;
}
.isResumeInfo span:nth-child(1) {
  font-weight: 700;
  font-size: var(--font-size-md);
  line-height: 20px;
  color: var(--black);
}
.isResumeInfo span:nth-child(2) {
  font-weight: 300;
  font-size: var(--font-size-md);
  line-height: 17px;
  color: var(--gray);
}
.isResumePrice {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: var(--font-size-md);
  line-height: 20px;
  text-align: end;
  color: var(--second-black);
}
/* Content is Empty */
.isContentEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 210px;
  height: 210px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 50%;
  background-color: #acd9b2;
}
.isEmptyIcon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.isIconSvg {
  width: 100%;
  height: 100%;
}
.isEmptyText {
  color: var(--white);
  font-weight: 600;
}

.isAnimCloseCart {
  animation: slide-out-right-alt .5s cubic-bezier(.55,.055,.675,.19) both;
}
/* KeyFrames */
@keyframes slide-out-right-alt{
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
    opacity: 1;
  }
}