.isShopCartItem {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1em;
}
.isItemPicture {
  width: 76px;
  height: 76px;
  background-color: var(--gray);
  border-radius: 20px;
}
.isPictureImg {
  border-radius: inherit;
  width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.isItemDetail {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}
.isItemDetail p:nth-child(1) {
  margin-right: auto;
  font-size: var(--font-size-sm);
  line-height: 17px;
  color: var(--gray);
}
.isItemDetail p:nth-child(2) {
  min-width: 46px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: var(--font-size-md);
  line-height: 20px;
  color: var(--second-black);
}
.isIconClose {
  display: block;
  width: 16px;
  height: 16px;
}
@media (max-width: 640px) {
}
