.detail-product {
  display: grid;
  grid-template-rows: auto auto 1fr;
  position: relative;
  width: 100%;
  height: 100%;
}
.icon-close {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 200;
  width: 34px;
  height: 34px;
  background-color: var(--white);
  /* background-image: url("../images/icons/icon_close.png"); */
  background-size: 14px 14px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
.detail-product-picture {
  width: 100%;
  height: 370px;
  background-color: var(--gray);
  border-radius: 0 0 20px 20px;
}
.detail-product-picture .picture-img {
  border-radius: inherit;
}
.detail-product-detail {
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 22px 18px;
}
.product-resume-info {
  display: flex;
  flex-direction: column;
}
.product-resume-info .product-resume--price {
  margin-bottom: 6px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: var(--font-size-lg);
  line-height: 20px;
  color: var(--second-black);
}
.product-resume-info .product-resume--name {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: var(--font-size-lg);
  line-height: 22px;
  color: var(--gray);
}
.product-resume-info .product-resume--description {
  font-weight: normal;
  font-size: var(--font-size-md);
  line-height: 20px;
  color: var(--gray);
}
.product-add-cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
}
.product-add-cart-btn span {
  width: 40px;
  height: 40px;
  /* background-image: url("../images/icons/bt_add_to_cart.svg"); */
}
@media (max-width: 640px) {
  .detail-product-container {
    max-width: fit-content;
  }
}
