.isHero {
  position: relative;
  z-index: 1040;
}
.isHeroNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--height-header);
  padding: 1em 1.5em;
  box-shadow: 0px 0px 6px 1px rgb(0 0 0 / 10%);
}
.isNavbarMobile {
  display: none;
}
.isNavbarLogo {
  width: auto;
  height: 26px;
  margin-right: 2em;
}
.isLogoNav {
  width: 100%;
  height: 100%;
}
.isNavbarItems {
  display: flex;
  align-items: center;
  width: 100%;
}
.isItemsNavList {
  display: flex;
  align-items: center;
  list-style: none;
}
.isItemsNavList .isNavListItem {
  margin: 0 4px;
  padding: 5px 12px;
  font-weight: 500;
  font-size: var(--font-size-md);
  line-height: 20px;
}
.isItemsNavList.isNavAccount .isNavListItem {
  padding: 0;
}
.isItemsNavList:not(.isNavAccount) .isNavListItem a {
  text-decoration: none;
  color: var(--very-light-pink);
}
.isItemsNavList:not(.isNavAccount) .isNavListItem:hover,
.isItemsNavList:not(.isNavAccount) .isNavListItem.active {
  font-weight: 700;
  border: 1px solid #acd9b2;
  border-radius: 10px;
}
.isItemsNavList:not(.isNavAccount) .isNavListItem:hover a,
.isItemsNavList:not(.isNavAccount) .isNavListItem.active a {
  color: #acd9b2;
}
.isNavAccount {
  position: relative;
  margin: 0 0 0 auto;
}
.isNavAccount .isAccountInfo {
  display: flex;
  align-items: center;
  margin-right: 0.6rem;
  font-weight: 300;
  font-size: var(--font-size-sm);
}
.isNavAccount .isAccountInfo a {
  line-height: 17px;
  text-decoration: none;
  color: var(--black);
}
.isAccountInfoIcon {
  align-self: end;
  width: 14px;
  height: 14px;
  margin-left: 0.2rem;
  transform: rotate(90deg);
}
.isIconSvg {
  width: 100%;
  height: 100%;
}
.isNavShoppingCart {
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 1em;
}
.isShoppingCartSvg {
  width: 100%;
  height: 100%;
}
.isCountItems {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -4px;
  right: -6px;
  width: 18px;
  height: 18px;
  font-weight: 600;
  font-size: var(--font-size-sm);
  background-color: var(--hospital-green);
  border-radius: 50%;
}
@media (max-width: 990px) {
  .isNavbarMobile {
    display: block;
  }
  .isNavbarLogo {
    margin: 0;
  }

  .isHeroNavbar {
    justify-content: space-between;
  }
  .isHeroNavbar .isNavbarItems {
    width: auto;
  }

  .isItemsNavList:not(.isNavAccount) {
    display: none;
  }
  .isItemsNavList .isNavListItem:not(.isNavShoppingCart) {
    display: none;
  }
  .isItemsNavList .isNavListItem.isNavShoppingCart {
    margin: 0;
  }
}
